In [1]:
import numpy as np
import pandas as pd

with open('yelp_academic_dataset_tip.json', 'rb') as f:
    data = f.readlines()

data = map(lambda x: x.rstrip().decode("utf-8"), data)
data_json_str = "[" + ','.join(data) + "]"

tip = pd.read_json(data_json_str)
tip.head()

,business_id,date,likes,text,type,user_id
0,cE27W9VPgO88Qxe4ol6y_g,2013-04-18,0,Don't waste your time.,tip,-6rEfobYjMxpUWLNxszaxQ
1,mVHrayjG3uZ_RLHkLj-AMg,2013-01-06,1,Your GPS will not allow you to find this place...,tip,EZ0r9dKKtEGVx2CdnowPCw
2,KayYbHCt-RkbGcPdGOThNg,2013-12-03,0,Great drink specials!,tip,xb6zEQCw9I-Gl0g06e1KsQ
3,KayYbHCt-RkbGcPdGOThNg,2015-07-08,0,"Friendly staff, good food, great beer selectio...",tip,QawZN4PSW7ng_9SP7pjsVQ
4,1_lU0-eSWJCRvNGk78Zh9Q,2015-10-25,0,Beautiful restoration.,tip,MLQre1nvUtW-RqMTc4iC9A

In [2]:
with open('yelp_academic_dataset_business.json', 'rb') as f:
    data = f.readlines()

data = map(lambda x: x.rstrip().decode("utf-8"), data)
data_json_str = "[" + ','.join(data) + "]"

business = pd.read_json(data_json_str)
business.head()

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{'Drive-Thru': False, 'Delivery': False, 'Good...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",40.354327,-79.900706,Mr Hoagie,[],True,4,4.5,PA,business
1,"{'Price Range': 1, 'Accepts Credit Cards': Tru...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,4,3.5,PA,business
2,{},3eu6MEFlq2Dg7bQh8QbdOg,"[Auto Repair, Automotive]",Dravosburg,"1 Ravine St\nDravosburg, PA 15034",{},40.350956,-79.889059,Joe Cislo's Auto,[],True,3,5.0,PA,business
3,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business
4,"{'Parking': {'garage': False, 'street': False,...",HZdLhv6COCleJMo7nPl-RA,"[Shopping, Home Services, Internet Service Pro...",Pittsburgh,"301 South Hills Village\nPittsburgh, PA 15241","{'Monday': {'close': '21:00', 'open': '10:00'}...",40.357620,-80.059980,Verizon,[],True,5,2.5,PA,business

In [ ]:
def find(array, business_id):
    for i in range(len(array)):
        if array[i] == business_id:
            return i
    return -1

def find_star(business_id):
    for i in range(len(business.name)):
        if business.business_id[i] == business_id:
            return business.stars[i]

def add(b_id, count, star, t, business_id):
    index = find(b_id, business_id)
    if index == -1:
        b_id.append(business_id)
        count.append(1)
        star.append(t)
        
    else:
        count[index]+=1

In [131]:
starCount = [0,0,0,0,0,0,0,0,0,0,0]

for k in range(1475):
    temp = int(combinedTable.stars[k] * 2)
    starCount[temp] += combinedTable.rev_count[k]
    
print(starCount)

[0, 0, 16, 83, 204, 664, 1579, 3176, 2851, 1252, 175]

In [151]:
b_id = []
count = []
star = []
date = []
rev_month = [0,0,0,0,0,0,0,0,0,0,0,0]
star_month = [0,0,0,0,0,0,0,0,0,0,0,0]
for i in range(5000):
    t = find_star(tip.business_id[i])
    add(b_id, count, star, t, tip.business_id[i])
    star_month[tip.date[i].month - 1] += t
    rev_month[tip.date[i].month - 1] += 1

temp = {'business_id': pd.Series(b_id), 'rev_count': pd.Series(count), 'stars': pd.Series(star)}
combinedTable = pd.DataFrame(temp)

combinedTable.head()
print(rev_month, star_month)

[329, 326, 430, 500, 465, 462, 459, 471, 374, 438, 352, 394] [1201.5, 1189.5, 1564.0, 1820.0, 1703.5, 1681.5, 1662.5, 1719.0, 1390.5, 1624.0, 1274.5, 1444.5]

In [152]:
avg_star_month = [0,0,0,0,0,0,0,0,0,0,0,0]
for i in range(len(star_month)):
    avg_star_month[i] = star_month[i] / rev_month[i]
print(avg_star_month)

[3.6519756838905777, 3.6487730061349692, 3.6372093023255814, 3.6400000000000001, 3.6634408602150539, 3.6396103896103895, 3.6220043572984748, 3.6496815286624202, 3.7179144385026737, 3.7077625570776256, 3.6207386363636362, 3.6662436548223352]