# EE361M Homework 5: Questions 3 and 4

In [81]:
import pandas as pd
from pydataset import data
import numpy as np
from sklearn.cross_validation import train_test_split
from sklearn import tree, svm, grid_search

## Question 3:

In [82]:
df=data('Housing')
df.head(5)

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

### 3.1)

In [83]:
def convert_dummy(col,row):
    if row[col] == 'yes':
        return 1
    else:
        return 0
    
def get_col(col):
    if row['price'] > df['price'].median():
        return 1
    else:
        return 0
    
df['driveway'] = df.apply(lambda row: convert_dummy('driveway',row),axis=1)
df['recroom'] = df.apply(lambda row: convert_dummy('recroom',row),axis=1)
df['fullbase'] = df.apply(lambda row: convert_dummy('fullbase',row),axis=1)
df['gashw'] = df.apply(lambda row: convert_dummy('gashw',row),axis=1)
df['airco'] = df.apply(lambda row: convert_dummy('airco',row),axis=1)
df['prefarea'] = df.apply(lambda row: convert_dummy('prefarea',row),axis=1)
df.head(5)

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
1,42000.0,5850,3,1,2,1,0,1,0,0,1,0
2,38500.0,4000,2,1,1,1,0,0,0,0,0,0
3,49500.0,3060,3,1,1,1,0,0,0,0,0,0
4,60500.0,6650,3,1,2,1,1,0,0,0,0,0
5,61000.0,6360,2,1,1,1,0,0,0,0,0,0

### 3.2)

In [84]:
X = df.drop('price', axis=1).values
y = df.price.values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

### 3.3)

In [85]:
RegTree = tree.DecisionTreeRegressor()
RegTree.fit(X_train, y_train)
print("R**2:",RegTree.score(X_test, y_test))

R**2: 0.225979021258

### 3.4)

In [86]:
y_predicted = RegTree.predict(X_test)
SSE = 0
print(len(y_test))
for i in range(len(y_test)):
        SSE =  SSE + ((y_predicted[i] - y_test[i])**2)
MSE = SSE/(len(y_test))
RMSE = MSE**0.5
print("RMSE:", RMSE)

181
RMSE: 25184.1339518

### 3.5)

At any given node in a regression tree, each independent variable is split at multiple points and the SSE of each of these splits is determined. The node then choses the split that generated the smallest SSE.

## Question 4
### 4.1)

In [87]:
SupVec = svm.SVR()
SupVec.fit(X_train, y_train)
print("R**2:", SupVec.score(X_test, y_test))
y_pred = SupVec.predict(X_test)
SSE = 0
for i in range(len(y_test)):
        SSE =  SSE + ((y_pred[i] - y_test[i])**2)
MSE = SSE/(len(y_test))
RMSE = MSE**0.5
print("RMSE:", RMSE)

R**2: -0.0274390015362
RMSE: 29015.4077821

### 4.2)

In [90]:
# [0.001, 0.01, 0.1, 1,5,10,100]
SupVec_2 = svm.SVR()
GS = grid_search.GridSearchCV(SupVec_2, {'C': [0.001, 0.01, 0.1, 1,5,10,100]})
GS.fit(X_train, y_train)
print("R**2:", GS.score(X_test, y_test))
y_p = GS.predict(X_test)
SSE = 0
for i in range(len(y_test)):
        SSE =  SSE + ((y_p[i] - y_test[i])**2)
MSE = SSE/(len(y_test))
RMSE = MSE**0.5
print("RMSE:", RMSE)

R**2: -0.021715734738
RMSE: 28934.4809212

Even though the results from the Regression Tree were horrendous, the results from the SVR were even worse. The tree performed just slightly better than random, and the SVRs performed worse. Using Grid Search to pick the best C had a positive but very slight affect on the performance.